@import '../../variables.scss';

.BannerImg {
	user-select: none;
	position: relative;
	width: 100%;
	.titleBox {
		position: absolute;
		width: 100%;
		transition: all 1s ease-in-out;
		.BlockTitle {
			color: #fff;
			border: none !important;
			.hr {
				background: #fff;
			}
			.innerTitle {
				font-size: 60px;
				font-weight: bold;
			}
		}
	}

	.img {
		width: 100%;
	}
}

// @media (min-width: 576px) {
// }
// @media (min-width: 768px) {
// }
// @media (min-width: 992px) {
// }
// @media (min-width: 1200px) {
// }
// @media (min-width: 1400px) {
// }
