@import '../../variables.scss';

$navBarSpaceMobile: 16px;

$navBarSpaceDeskTop: 32px;

.desktopNav {
	position: absolute;
	z-index: 1;
	width: 100%;
	.desktop {
		line-height: 60px;
		.brand {
			float: left;
			cursor: pointer;
			color: #fff;
		}
		.navList {
			float: right;
			display: flex;
			justify-content: space-between;
			li {
				list-style: none;
				.navItem {
					padding: 0 20px;
					margin: 0 20px;
					cursor: pointer;
					color: $linkTextColor;
				}

				&:nth-last-child(1) {
					a {
						margin-right: 0 !important;
						padding-right: 0 !important;
					}
				}
			}
		}
		&::after {
			content: '';
			clear: both;
			display: table;
		}
	}
}
.mobileNav {
	position: relative;
	z-index: 1;
	width: 100%;
	.mobile {
		padding: $navBarSpaceMobile;
		background-color: $themeColor;
		box-sizing: border-box;
		width: 100%;
		line-height: 20px;
		.navbar {
			display: flex;
			justify-content: space-between;
			color: #fff;
			line-height: 32px;
			.iconfont {
				font-size: 30px;
			}
		}

		.navList {
			background-color: $themeColor;
			transition: all 0.5s ease-in-out;
			overflow-y: hidden;
			height: 0;
			li {
				$borderColor: #548fca;
				border-top: 1px solid $borderColor;
				padding-top: 8px;
				padding-bottom: 8px;
				margin: 0;
				.navItem {
					padding: 0;
					margin: 0;
					font-size: 14px;
				}
				&:nth-child(1) {
					margin-top: $navBarSpaceMobile;
				}
				&:nth-last-child(1) {
					border-bottom: 1px solid $borderColor;
				}
			}
		}
		.heightAuto {
			height: auto;
		}
	}
}

.navItem {
	font-family: $enFont, sans-serif !important;
	font-size: 20px;
	letter-spacing: 6px;
	color: $linkTextColor;
}

.activeNavItem {
	color: $linkTextHoverColor !important;
}
