@import '../../variables.scss';

.ContactUs {
	.container {
		@include paddingTB;
		.info {
			@include marginBtm;
			height: (300px - $itemSpace - $itemSpace);
			border: 1px solid $themeColor;
			padding: $itemSpace;
			@include borderRadius;
			p {
				line-height: 25px;
				position: relative;
				color: $themeColor;
				margin-bottom: 40px;
				display: flex;
				align-items: flex-start;
				.icon-email {
					font-size: 22px;
				}
				.icon-lbs {
					font-size: 30px;
					margin-left: -6px;
				}
				.icon-dianhuatianchong {
					font-size: 26px;
					margin-left: -4px;
				}

				.email {
					margin-left: 6px;
					color: $themeColor !important;
				}

				.phone {
					margin-left: 2px;
					display: inline-block;
				}
				.address {
					display: inline-block;
					width: calc(100% - 40px);
				}
			}

			font-size: 20px;
			line-height: 30px;
		}
		.mapContainer {
			@include marginBtm;
			width: 100%;
			height: 300px;
		}
	}
}
