@import '../../variables.scss';

.footContainer {
	padding-top: 50px;
	width: 100%;
	background-color: $themeColor;
	color: #fff;
	.container {
		margin-bottom: 40px;
		ul {
			li {
				list-style: none;
				line-height: 40px;
				a {
					color: #fff;
					&:hover {
						color: #dcdde1;
					}
				}
			}
		}
	}
	.QrCode {
		width: 100px;
		margin-left: auto;

		.qrName {
			line-height: 40px;
			margin-bottom: 10px;
		}
		img {
			display: inline;
			width: 100px;
			height: 100px;
		}
	}
	.copyright {
		color: $themeColor;
		line-height: 40px;
		margin: 0;
		background-color: #fff;
		padding: 0;
	}
}
