@import '../../variables.scss';
.sliderContainer {
	height: 640px;
	background-image: url(../../static/img/background/city.jpg);
	.sliderWrapper {
		backdrop-filter: blur(16px);
		width: 100%;
		height: 450px;
		padding: 95px 0;
		.sliderItem {
			box-sizing: border-box;
			.imageContainer {
				width: 100%;
				height: 90%;
				margin-top: 5%;
				margin-bottom: 5%;
				background-size: auto 100%;
				background-position: center center;
				box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
			}
		}
	}
}
