// 默认背景色
$defaultArticleBg: #ecf0f1;

// 默认文本颜色
$defaultTextColor: #2f3640;

// 面板间距
$panelSpace: 15px;

// 定义阴影
$boxShadow: 0px 0px 15px -1px rgba(109, 109, 109, 0.4);

// 内容宽度
$contentWidth: 1200px;
